@import "tailwindcss";

@theme {
  --color-primary-50:  #ecffe8;
  --color-primary-100: #d7ffd0;
  --color-primary-200: #afffa1;
  --color-primary-300: #87ff72;
  --color-primary-400: #5aff7a; /* cor principal; usar no className="bg-primary-400" que altera a cor de fundo */
  --color-primary-500: #36e75a;
  --color-primary-600: #27b749;
  --color-primary-700: #1a8637;
  --color-primary-800: #0d5624;
  --color-primary-900: #042f14;
  --text-stroke-strong: 2px black;
}
